h1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 80px;
}

#searchStockKeyCode{
	margin:4% auto;
	width: 60%;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 12.5% 21%;
    /*pointer-events: none;*/
}

section{
	margin:0 auto;
	width: 60%;
	height: 300px;
	text-align: left;
	height:300px;
}

footer{
	clear: both;
	padding-top: 1%;
	position: static;
	text-align: center;
	width: 60%;
	/*bottom: 5%; */	
	margin: 0 auto;
	font-family: Raleway, sans-serif;
	font-size: 16px;
}

.canvasCharts{
	width: 59%;
	height: 330px;
	margin: 0 auto;
	float: left;
}

.detailsStock{
	margin: 0 auto;
	float: left;
	width:39%;
}